.button {
  color: #000;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

.button--small {
  font-size: 12px;
  padding: 4px;
  .icon {
    font-size: 12px;
  }
}

.button--medium {
  font-size: 16px;
  padding: 4px;
  .icon {
    font-size: 16px;
  }
}

.button--large {
  font-size: 24px;
  padding: 16px;
  .icon {
    font-size: 24px;
  }
}

.button--primary {
  background-color: purple;
}

.button--secondary {
  padding: 90px;
}
